

.section-program {
    height: 100vh;
    width: 100%;
    background-image: url("../images/section-program.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.section-program > .content {
    margin-left: 5%;
    width: 40%;
    text-align: start;
    font-size: 3rem;
    z-index: 2;
}