.grid-item {
    width: 20vh;
}

.section-photos {
    height: 100vh;
    width: 100%;
    background-color: lightgrey;
}

.section-photos > .content {
    text-align: center;
    /*color: white;*/
    font-size: 3rem;
    z-index: 2;
}