
.section-gifts {
    height: 100vh;
    width: 100%;
    background-image: url("../images/section-gifts.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    justify-content: end;
    display: flex;
}

.section-gifts > .content {
    margin-left: 5%;
    width: 40%;
    text-align: center;
    font-size: 3rem;
    align-self: center;
    z-index: 2;
}

.section-gifts > button > .reserved {
    color: grey;
}