
.section-main {
    height: 100vh;
    width: 100%;
    background-image: url("../images/section-main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.section-main > .content {
    text-align: center;
    color: white;
    font-size: 3rem;
    z-index: 2;
}

.section-main > .content #countdown {
    margin-top: 1rem;
}

.section-main > a {
    position: absolute;
    padding: 10px;
    bottom: 15vh;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    animation: bounce 1.5s infinite;
    z-index: 2;
    border: 1px solid white;
    background: transparent;
}

.section-main > .content > a:hover {
    color: #fafafa;
}