html {
    scroll-behavior: smooth;
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Garamond, serif;
    background: #fafafa;
    color: #1a1a1a;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
